/* Disable Automatic Formatting */
html {
    box-sizing: border-box;
    font-family: "Helvetica";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#wrapper {
    width: 100%;
    padding: 20px;
}

img.me {
    width:100px;
    height:100px;
    border-radius: 50%;
    margin:0px auto;
    display:block;
    box-shadow: 0px 0px 15px 0px rgba(117,117,117,1);
}

p {
    padding: 5px 0px 5px 0px;
    display:block;
    margin:0px auto;
}

a:hover,
a:link,
a:visited {
    color:#A32638;
}

h1.name {
    text-align: center;
    font-weight: bold;
    padding:10px;
}

p.contact {
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
}

.group {
    padding:10px;
}

.edSubtitle {
    width:auto;
    float:right;
    display:inline;
    text-align:right;
}

h1, h2, h3, h4, h5, h6 {
    color:#A32638;
    padding:0px 0px 5px 0 px;
    margin:5px 0px 5px 0px;
    width:100%;
}

h1 {
    font-weight: bold;
    border-bottom: solid 1px #A32638;
}

h5, h2 {
    color:#7E7E7E;
    font-size:20px;
}

ul {
    margin: 5px 0px 5px 20px;
}

ul li {
    margin:3px 0px 3px 0px;
}
