html {
    box-sizing: border-box;
    font-family: "Helvetica";
}

* {
    padding: 5px 5px 5px 5px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


table {
    border: solid 1px black;
    border-collapse: collapse;
    width:100%;
}

th, td {
    padding:5px;
    border:solid 1px black;
}

h1 {
    font-weight: 400;
}

th {
    background: #DEDEDE;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
}

input[type=text] {
    display: block;
    text-align: left;
    width: 100%;
}

input[type=submit] {
    width:25%;
}

textarea {
    width:100%;
}

#wrapper {
	display:block;
	margin:0px auto;
	width:800px;
}

.error {
    color:red;
}
